/**
 * Локальная конфигурация Module Federation для {{MODULE_NAME}} модуля
 */
export default {
  // name игнорируется - используется автоматически из moduleName
  // Federation имя создается как moduleName (плагин добавляет префикс 'module_')
  exposes: {},
  shared: {},
  base: process.env.NODE_ENV === 'production' ? '{{MODULE_BASE_URL}}' : '/',
  remotes: {},
};

